@model IEnumerable<AttendanceCheckerSystem.Models.Student>
@{
    ViewData["Title"] = "AttendanceSummary";
}

<h2>Attendance Summary</h2>




<div>
    <ol class="enrolled">
        @foreach (var ad in Model)
        {

            <li>

                <span class="studentLink">

                    <span class="mattendee">@ad.ID</span>
                    @ad.FirstName, @ad.LastName
                    <img src="@ad.Photo" width="100" alt="photo of @ad.FirstName @ad.LastName" class="studentPhoto" />



                    if (ad.Attend)
                        {
                                <span class="attendanceNotation">attended</span>
                            }
                            else
                            {
                                <span class="attendanceNotation">absent</span>
                            }


                </span>

            </li>

        }
    </ol>
    <hr />
</div>